.container{
	padding: 1rem 3rem 1rem ;
}
/* header and button*/
.header{
	height: 20vh;
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 1rem;
}
.theme{
	display: flex;
	align-items: center;
	justify-content: right;
	width: 100%;
	height: 30%;
	gap:10px;
}
.theme__title{
	color:hsl(236, 72%, 79%);
	text-transform: capitalize;
}
.theme__btn__circle{
	width: 27px;
	height: 100%;
	background-color: hsl(240, 78%, 98%);
	border-radius: 70%;
	float: left;
}
.dark .theme__btn__circle{
	float:right;
}

/* theme dark*/

.theme__dark{
	background-color: black;
}
.theme__dark .header__title{
	color:white;
}
.theme__dark .title{
	color:white;
}
.theme__dark .theme__title{
	color:white;
}
.theme__dark .theme__btn{
	background-image:none;
	background-color:white;
}
.theme__dark .theme__btn__circle{
	background-image:linear-gradient( hsl(236, 72%, 79%), hsl(237, 63%, 64%));;
}
.theme__dark .theme__btn:hover{
	background-image:none;
	background-color:rgba(255,254,254,.92);
}
.header__title{
	font-size: 2rem;
	color:hsl(232, 13%, 33%);
	margin-bottom: 2rem;
}
.header__btn{
	display: flex;
	align-items: center;
	justify-content: center;
	gap:10px;
}
.title{
	color:hsl(234, 14%, 74%);
}
/* botao */
.btn{
	width: 60px;
	height: 30px;
	padding: 3px;
	border-radius: 20px;
	background-image: linear-gradient( hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	cursor: pointer;
}
.btn:hover{
	background-image: linear-gradient( hsl(236, 72%, 79%), hsl(237, 63%, 74%));;
}
.btn__circle{
	width: 27px;
	height: 100%;
	float:right;
	background-color: hsl(240, 78%, 98%);
	border-radius: 70%;
}
.annually .btn__circle{
	float:left;
}

/* container prices */
.container__prices{
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	padding: 10px 0px;
}
.card{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 360px;
	height: 60%;
	background-color: white;
	border-radius: 8px;
	padding: 1rem;
}
.card__title{
	color:hsl(232, 13%, 33%);
	margin-bottom: 1rem;
}
.card__price{
	display: flex;
	align-items: center;
	gap:5px;
	font-size: 4rem;
	margin-bottom: 2rem;
}
.card__price--less{
	font-size: 1.6rem
}
.card__descrition{
	text-align: center;
	width: 100%;
	padding: 1rem;
	border-top: 1px solid hsl(234, 14%, 74%);
}
.card__descrition:nth-child(5){
	border-bottom:1px solid hsl(234, 14%, 74%);
}
.card__text{
	color:hsl(232, 13%, 33%);
	font-size: 1rem;
}
.card__button{
	width: 100%;
	height: 40px;
	border:none;
	border-radius: 6px;
	background-image: linear-gradient( hsl(236, 72%, 79%), hsl(237, 63%, 64%));
	color: white;
	text-transform: uppercase;
	font-weight: 700;
	margin: 2rem 0px 1rem;
	cursor: pointer;
	transition: 500ms;
}
.card__button:hover{
	background-image:none;
	background-color: white;
	border:1px solid hsl(233, 13%, 49%);
	color:hsl(232, 13%, 33%);;
}
/* card profissional*/
.card--blue{
	height: 450px;
	background-image: linear-gradient( hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}
.card__title--white,.card__price--white,
.card__text--white{
	color: white;
}
.card__button--white{	
	background-image: none;
	color: hsl(233, 13%, 49%);
	font-weight: 700;
}
.card__button--white:hover{
	background-color: transparent;
	border:1px solid white;
	color:white;
}

/* Responsivo*/
@media (max-width: 900px){
	.container{
	padding: 10px;
}
.container__prices{
	gap:2rem;
}
.card{
	height: 80%;
}
.card--blue{
	height: 60%;
}
}
@media (max-width: 425px){
body{
	background-image:none;
}
main{
	background-position:top right;
	background-size: 40% 20%;
}
.theme{
	justify-content: center;
}

.card{
	height: 100%;
}
.card--blue{
	height: 60%;
}
